<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>云渠道.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1069FFC0205795BD00E11F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1069FFD8205795BE00E11F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1069FFE3205795BE00E11F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
